html {
    min-width: 1100px;
}

body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #FDFDFB;
    min-height: 85px;
}

footer {
    min-height: 275px;
    background-color: #444240;
}

.conteiner {
    margin: 0 100px 0 100px;
}

.promo {
    margin-top: 0;
    background: #FDFDFB url("./images/Ellipse2.png") no-repeat right 369px top 0px;
    background-size: contain;
    overflow: hidden;
    height: 768px;
    position: relative;
}

.popular {
    margin-top: 0;
    overflow: hidden;
    position: relative;
    height: 720px;
}

@media (max-width: 1366px) {
    .promo {
        background: #FDFDFB url("./images/Ellipse2.png") no-repeat right 269px top 0px;
        background-size: contain;
    }
}


.main-header-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.main-header-logo {
    width: 103px;
    height: 26px;
    display: flex;
    align-items: center;
}

.logo-text {
    font-family: 'Playfair Display', serif;
    font-size: 12px;
    text-transform: uppercase;
    line-height: auto;
    color: #555248;
    letter-spacing: 2px;
    text-align: center;
}

.main-header-menu {
    list-style-type:  none;
    padding: 0;
    margin: 0;
    width: 422px;
    height: 13px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 5px;
}

.item-link {
    font-family: 'Roboto', sans-serif ;
    font-size: 14px;
    font-weight: normal;
    color: #555248;
    text-decoration: none;
}

.user-icons {
    list-style-type:  none;
    padding: 0;
    margin: 0;
    width: 99px;
    height: 21px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.promo-header {
    font-family: 'Playfair Display', serif;
    font-size: 45px;
    line-height: auto;
    font-weight: normal;
    color: #1B1A17;
    margin: 0;
    margin-top: 236px;
    margin-bottom: 16px;
    margin-left: 85px;
}

.promo-header::before {
    background-color: #8B8371;
    width:50px;
    height: 1px;
    content: " ";
    display: block;
    position: absolute;
    left: 120px;
    top: 272px;
}

.headding {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    line-height: auto;
    font-weight: normal;
    color: #1B1A17;
    margin: 0px;
    padding: 0px;
}

.promo-headding {
    margin-bottom: 39px;
    margin-left: 85px;
}

.promo-text {
    font-family: 'Roboto', sans-serif ;
    font-size: 14px;
    font-weight: lighter;
    color: #1B1A17;
    width: 258px;
    height: 34px;
    padding: 0px;
    line-height: 152.3%;
    opacity: 82%;
    margin: 0px;
    margin-left: 85px;
    margin-bottom: 64px;
}

.promo-watch {
    position: absolute;
    right: 200px;
    top: 0;
}

@media (max-width: 1366px) {
    .promo-watch {
        right: 100px;
    }
}


.button-watch {
    display: block;
    font-family: 'Roboto', sans-serif ;
    font-size: 12px;
    font-weight: normal;
    line-height: auto;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 26px 38px 27px 38px;
    width: fit-content;
}

.button-promo {
    background-color: #444240;
    color: #FFFFFF;
    margin: 0px;
    margin-left: 81px;
}

.promo-describe {
    font-family: 'Prata', serif;
    font-size: 16px;
    color: #1B1A17;
    font-weight: lighter;
}

.promo-describe-price {
    display: block;
    position: absolute;
    top: 138px;
    right: 700px;
}

.promo-describe-price::before {
    background-color: #8B8371;
    width:50px;
    height: 1px;
    content: " ";
    display: block;
    position: absolute;
    right: -70px;  
    top: 10px;
}

@media (max-width: 1366px) {
    .promo-describe-price {
        right: 600px;
    }
}


.promo-describe-mm {
    display: block;
    position: absolute;
    top: 647px;
    right: 114px;
}

.promo-describe-mm::before {
    background-color: #8B8371;
    width:50px;
    height: 1px;
    content: " ";
    display: block;
    position: absolute;
    right: 135px;
    top: 10px;
}

@media (max-width: 1366px) {
    .promo-describe-mm {
        right: 14px;
    }
}

.popular-headding {
    margin: 0px;
    margin-top: 79px;
    margin-bottom: 52px;
    text-align: center;
}

.popular-button {
    display: inline-block;
    font-family: 'Roboto', sans-serif ;
    font-size: 16px;
    line-height: 40px;
    border-bottom: solid 1px #C4C0B6;
    position: absolute;
    top: 115px;
    right: 100px;
}

.catalog {
    display: flex;
    margin: 0;
    margin-top: 52px;
    justify-content: space-between;
}

.catalog-item {
    width: 370px;
    height: 467px;
    background: url(./images/Ellipse.png) no-repeat;
    background-size: 313px 313px; 
    background-position: 20px 80px;
}

.catalog-item-header {
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bolder;
    line-height: 173.3%;
    letter-spacing: 3%;
    color: #1B1A17;
    opacity: 82%;
    margin: 40px auto 10px 40px;
    padding: 0px;
}

.catalog-item-price {
    font-family: 'Prata', serif;
    font-size: 12px;
    line-height: auto;
    color: #1B1A17;
    opacity: 82%;
    margin: 0 auto 2px 40px;
    padding: 0px;
}

.catalog-item-text {
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    font-weight: normal;
    line-height: auto;
    color: #1B1A17;
    margin: 20px auto 40px 88px;
    position: relative;
}

.catalog-item-text::before {
    background-color: #8B8371;
    width: 30px;
    height: 1px;
    content: " ";
    display: block;
    position: absolute;
    left: -48px;
    top: 50%;
}

.info {
    height: 520px;
    background:  #FDFDFB url(./images/lines_banner.png) no-repeat right;
    background-size: contain ;
    position: relative;
    margin-bottom: 80px;
}

.conteiner-info {
    position: relative;
    display: flex;
    justify-content: flex-start;
}

.conteiner-img {
   margin-right: 70px;
}

.info-fon {
    background-color: #F7F5EF;
    width: 468px ;
    height: 519px ;
    position: absolute;
    left: -100px;
}

.info-img {
    position: relative;
    margin-top: 52px;
    margin-left: 77px;
    z-index: 1;
}

.info-headding {
    margin: 140px 180px 38px auto;
}

.description {
    font-family: 'Roboto', sans-serif ;
    font-size: 16px;
    font-weight: normal;
    color: #444240;
    padding: 0;
}

.info-description-text {
    line-height: 150%;
    width: 376px;
    height: 63px;
    margin-bottom: 45px;
}

.news-description-text {
    line-height: 169.9%;
    width: 376px;
    height: 43px;
}

.button-info {
    background-color: #D4B098;
    color: #FFFFFF;
}

.news {
    min-height: 460px;
    margin-bottom: 90px;
}

.conteiner-news {
    display: flex;
    justify-content: flex-start;
}

.news-description {
    margin-right: 70px;
}

.news-headding {
    margin-top: 140px;
    margin-bottom: 40px;
}

.news-description-text {
    margin-bottom: 118px;
}

.social-icons {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}

.social-icons-item {
    list-style-type: none;
    margin-right: 18px;
}

.news-images-one {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 460px;
    margin-right: 10px;
}

.adress {
    font-weight: bold;
    color: #262421;
}

.footer-elements {
    display: flex;
    justify-content: space-between;
    padding: 80px 85px 67px 85px;
}

.footer-element {
    color: #FFFFFF;
    margin-right: 118px;
}

.footer-list {
    list-style-type: none;
    padding: 0;
}

.footer-item {
    font-family: 'Roboto', sans-serif ;
    font-size: 12px;
    font-weight: normal;
    opacity: 75%;
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
}

.footer-headding {
    font-family: 'Roboto', sans-serif ;
    font-size: 12px;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 7%;
    padding: 0;
    margin: 0;
    margin-bottom: 33px;
}

.footer-logo-name {
    display: inline-block;
    text-align: end;  
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    font-weight: bolder;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-top: 5px;  /*Выровнять логотип и название*/
}

.footer-logo {
    margin-top: -10px;
    margin-bottom: 22px;
    display: flex;
    align-items: center;
    min-height: 34px;
}

